<div class="portfolio">
    <h2 class="portfolio__title">Portafolio</h2>

    <div class="card__container">
        <div *ngFor="let card of cards" class="card">
            <div class="card-image">
                <img [src]="card.img" alt="" />
            </div>
            <h2 class="card-title">{{ card.title }}</h2>
            <div class="card-content">
                <p>{{ card.desc }}</p>
            </div>

            <div class="card-buttons">
                <a [href]="card.repoLink" target="_blank">
                    <button class="btn">Repositorio</button>
                </a>
                <a [href]="card.demoLink" target="_blank">
                    <button class="btn btn-active">Ver Demo</button>
                </a>
            </div>
        </div>
    </div>
</div>
