@import '/src/styles/variables';
.header {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $black-color;
    border-radius: 0.9rem;

    &__logo {
        font-size: 1.1rem;
        color: $principal-color;
        padding: 0.5rem;
    }
}

.uil {
    font-size: 32px;
    margin-right: 1rem;
}
