<section class="section">
    <div class="section__image">
        <img src="/assets/mi_foto_linkedin.webp" alt="imagen ivan retamozo" />
    </div>

    <div class="section__welcome">
        <h3 class="section__welcome-h3">Ivan Retamozo</h3>
        <h1 class="section__welcome-h1">Front-End Developer</h1>
        <h4 class="section__welcome-h4">
            me encanta aprender y trabajar en equipo,siempre trabajando con los principios S.O.L.I.D
            y CleanCode en mis proyectos,enfocado en el responsive design como tambien en la
            accesibilidad.
        </h4>
    </div>
</section>
