<section class="section">
    <div class="section__image">
        <img src="/assets/mi_foto_linkedin.webp" alt="imagen ivan retamozo" />
    </div>

    <div class="section__welcome">
        <h3 class="section__welcome-h3">Ivan Retamozo</h3>
        <h1 class="section__welcome-h1">Full-Stack Developer</h1>
        <h4 class="section__welcome-h4">
            Me apasiona la tecnología y estoy comprometido con la calidad y eficiencia en mi
            trabajo. Siempre busco aprender nuevas habilidades para mejorar y entregar soluciones
            que satisfagan las necesidades de los usuarios.
        </h4>
    </div>
</section>
